{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Welcome to Online Data Scientist</h1>
    <p class="lead">Data science is a multidisciplinary blend of data inference, algorithmm development, and technology in order to solve analytically complex problems.</p>
    <p class="lead">We offer wide range of tools including visualization tools, statistical tools, machine learning and deep learning tools, rule mining toos and tools related to trading and mathematical finance.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Visualization & Statistical tools</h2>
        <p>
            Data visualization is viewed by many disciplines as a modern equivalent of visual communication. 
            It involves the creation and study of the visual representation of data. Our online data scientist, 
            we offer wide range of visualization tools and statistical tools to communicate information clearly and efficiently.
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more xyz &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Machine learning and Deep learning (AI) tools</h2>
        <p>Artificial intelligent is an advanced method to explore the pattern and data insights in a given data. We offer wide 
        range of machine learning algorithms such as SVM and Neural Network, and deep learning tools to support your work without coding.  </p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more xyz&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tools for Trading and Mathematical finance</h2>
        <p>Online data scientist provides wide range of trading tools such as estimation of support level, supply demand zones 
        for stop loss, and mathematical finance tools including VaR (monte carlo simulation. We are providing association rule 
        mining and rough set mining additionally.  </p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more xyz &raquo;</a></p>
    </div>
</div>

{% endblock %}
